@model ITInventory.Models.Allocation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Allocation</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OfficeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfficeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManufacturerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManufacturerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VendorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VendorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsSplit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsSplit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastEditDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastEditDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastEditUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastEditUser)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
