@model ITInventory.Models.Allocation

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Allocation</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.RSCDB, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RSCDB)
                @Html.ValidationMessageFor(model => model.RSCDB)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProductId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProductId)
                @Html.ValidationMessageFor(model => model.ProductId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProductCount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProductCount)
                @Html.ValidationMessageFor(model => model.ProductCount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsSplit, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsSplit)
                @Html.ValidationMessageFor(model => model.IsSplit)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastEditDateTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastEditDateTime)
                @Html.ValidationMessageFor(model => model.LastEditDateTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastEditUser, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastEditUser)
                @Html.ValidationMessageFor(model => model.LastEditUser)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
