@model ITInventory.Models.AllocationLot


<h1>How many do you wish to return?</h1>

<p>@Model.Lot.Product.ProductName</p>

<input type="text" id="returnVal" value="@Model.Quantity" />

<input type="button" value="Return" class="btn btn-group" id="returnBtn" />

<script>

    $("#returnBtn").click(function () {
        var count = $("#returnVal").val();

        $.ajax({
            url: "@Url.Action("ReturnAllocation", "Allocation")",
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                LotId: @Model.LotId,
                ProductCount: count,
                Id: @Model.AllocationId
            }),
            success: function (result) {
                if (result.Result) {
                    location.href = "@Url.Action("Index", "Allocation")";
                }
            }
        });
    });
</script>