@model ITInventory.Models.OrderHistory

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Product</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Product.ProductName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Product.ProductName)
                @Html.ValidationMessageFor(model => model.Product.ProductName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.QtyOrdered, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.QtyOrdered)
                @Html.ValidationMessageFor(model => model.QtyOrdered)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrderCost, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderCost)
                @Html.ValidationMessageFor(model => model.OrderCost)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsCheckedIn, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsCheckedIn)
                @Html.ValidationMessageFor(model => model.IsCheckedIn)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastEditDateTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastEditDateTime)
                @Html.ValidationMessageFor(model => model.LastEditDateTime)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>