<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    	<!--This CSS entry was added by the Telerik VS Extensions for compatibility reasons-->
	<link href="@Url.Content("~/Content/kendo.compatibility.css")" rel="stylesheet" type="text/css" />
	<link href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.common-fiori.min.css" rel="stylesheet" type="text/css" />
	<link href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
	<link href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.dataviz.min.css" rel="stylesheet" type="text/css" />
	<link href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.fiori.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/w3.css" rel="stylesheet" />
	<link href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.dataviz.fiori.min.css" rel="stylesheet" type="text/css" />
	@*	<script src="https://kendo.cdn.telerik.com/2017.2.621/js/jquery.min.js"></script>
@
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.kendo.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2017.2.621/js/angular.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2017.2.621/js/jszip.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2017.2.621/js/kendo.all.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2017.2.621/js/kendo.aspnetmvc.min.js"></script>
<link href="@Url.Content("~/Content/font-awesome-4.7.0/css/font-awesome.css")" rel="stylesheet" />
	<script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
</head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("IT Inventory", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Order History", "Index", "OrderHistory")</li>
                            <li>@Html.ActionLink("Vendors", "Index", "Vendor")</li>
                            <li>@Html.ActionLink("Products", "Index", "Product")</li>
                            <li class="dropdown">Allocation <i class="fa fa-sort-desc" aria-hidden="false"></i>
                            <div class="dropdown-content">
                                @Html.ActionLink("Allocate", "Index", "Allocation")
                                @Html.ActionLink("Returns", "Index", "Return")
                            </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @if (IsSectionDefined("featured"))
            {
                RenderSection("featured", required: false);
            }
            @if (IsSectionDefined("scripts")){
                RenderSection("scripts");
            }
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer style="margin: auto; padding-top: 20px; padding-left: 100px;">
            @*@if (HDUtilities.RoleProvider.IsUserInSiteRole("Admin", false))
            {*@
                <div id="masqueradeDiv">
                    @if (HDUtilities.Masquerade.IsMasquerading())
                    {
                        @Html.Label("Masquerading As:", new { style = "padding-right:4px;" })
                        <text>@HDUtilities.UserInformation.GetCurrentUserFullName()</text>
                        <input type="button" id="masqueradeSwitchBack" value="Switch Back" class="k-button" onclick="SwitchBack('@(Url.Action("MasqueradeSwitchBack", "Home"))')" style="margin-left: 16px;" />
                    }
                    else
                    {
                        @Html.Label("Masquerade As:", new { style = "padding-right:4px;" })
                        <input class="k-textbox" id="Masquerade" name="Masquerade" onkeyup="MasqueradeKeyPress()">
                        <input type="button" id="masqueradeGo" value="Go" class="k-button" onclick="MasqueradeAs('@(Url.Action("Masquerade", "Home"))')" />
                    }
                </div>
            @*}*@
        </footer>

    </body>
</html>

<script>
    $(document).ready(function () {
        $("#menu").kendoMenu();
    });

    function MasqueradeKeyPress() {
        if (event.keyCode == 13) {
            $("#masqueradeGo").trigger("click");
        }
    }

    function MasqueradeAs(url) {
        var masqueradeUser = $("#Masquerade").val();

        $.get(url + '?masqueradeUser=' + masqueradeUser, function (data) {
            location.reload();
        });
    }

    function SwitchBack(url) {
        $.get(url, function (data) {
            var oldURL = $("#oldUrl").val();

            if (oldURL != undefined && oldURL != '') {
                window.location.href = oldURL;
            }
            else {
                location.reload();
            }
        });
    }

</script>